.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.centered {
	text-align: center;
}

.margin-auto {
	display: inline;
	vertical-align: middle;
}